@model Product

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="Name" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name ">
                <span style="color:red;" asp-validation-for="Name"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="Link" class="form-label">Code</label>
                <input asp-for="Code" type="text" placeholder="Enter Code" class="form-control">
                <span style="color:red;" asp-validation-for="Code"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="SalePrice" class="form-label">Cost</label>
                <input asp-for="Cost" type="number" placeholder="Enter Cost" class="form-control">
                <span style="color:red;" asp-validation-for="Cost"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="CostPrice" class="form-label">Desc </label>
                <input asp-for="Desc" placeholder="Enter Desc" class="form-control">
                <span style="color:red;" asp-validation-for="Desc"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="Size" class="form-label">Size </label>
                <input asp-for="Size" placeholder="Enter Size" class="form-control">
                <span style="color:red;" asp-validation-for="Size"></span>
            </div>
        </div>

        <br />
        <br />


        <div class="row">

            <div class="form-group col-md-4">
                <label for="GenreId" class="form-label">Category</label>
                <select asp-for="CategoryId" class="form-select" aria-label="Default select example" asp-items="@(new SelectList( ViewBag.Categories,"Id" ,"Name"))">
                </select>
                <span style="color:red;" asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="C" class="form-label">Color</label>
                <select asp-for="ColorIds" class="form-select" aria-label="Default select example" asp-items="@(new SelectList( ViewBag.Colors,"Id" ,"Name"))">
                </select>
                <span style="color:red;" asp-validation-for="ColorIds"></span>
            </div>


        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="HoverImage" class="form-label">Hover Image</label>
                <input asp-for="HoverImage" class="form-control" placeholder="Enter Hover  Image ">
                 @if (Model.Images.FirstOrDefault((i => i.IsHover == false)) != null)
                {
                    <div class="  col-md-2 position-relative" style="width:50px;height:70px;margin:25px 20px;">

                        <img style="max-width:100%;" class="book-image" src="~/image/product/@(Model.Images.FirstOrDefault((i=>i.IsHover==false)).Link)" />

                    </div>
                }
                <span style="color:red;" asp-validation-for="HoverImage"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="CardImage" class="form-label">  card image</label>
                <input asp-for="CardImage" placeholder="Enter card image" class="form-control">
                 @if (Model.Images.FirstOrDefault((i => i.IsHover == false)) != null)
                {
                    <div class="  col-md-2 position-relative" style="width:50px;height:70px;margin:25px 20px;">

                        <img style="max-width:100%;" class="book-image" src="~/image/product/@(Model.Images.FirstOrDefault((i=>i.IsHover==false)).Link)" />

                    </div>
                }
                <span style="color:red;" asp-validation-for="CardImage"></span>
            </div>
            <div class="form-group col-md-8">
                <label for="SlideImages" class="form-label">Slide  Images</label>
                <input asp-for="SlideImages" placeholder="Enter Slide  Images" class="form-control">
                <div class="row">
                    @foreach (var image in Model.Images.Where(i => i.IsHover == null))
                    {

                        <div class="  card col-md-2 position-relative" style="width:50px;height:70px;margin:25px 20px;">
                            <span class=" book-image-span position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-1 text-white" style="right:0;font-size:10px;top:-15px !important;cursor:pointer;">
                                X
                            </span>
                            <img style="max-width:100%;" class="book-image" src="~/image/product/@image.Link" />
                            <input name="ImageIds" hidden value="@image.Id" type="text" class="form-control">
                        </div>

                    }
                </div>
                <span style="color:red;" asp-validation-for="SlideImages"></span>
            </div>

        </div>
        <div class="row">
            <div class="form-check col-md-6">
                <label class="form-check-label" for="IsBestSeller">
                    <input asp-for="IsBestSeller" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    Best seller
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-check col-md-6">
                <label class="form-check-label" for="IsBestSeller">
                    <input asp-for="IsNew" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    New
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-check col-md-6">
                <label class="form-check-label" for="IsBestSeller">
                    <input asp-for="IsFeatured" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    Featured Product
                </label>
            </div>
        </div>
        <br />
        <br />


        <div class="col-md-4 d-flex align-items-center "><button style="width:100px; height:35px;" type="submit" class="btn btn-primary ">Update</button></div>
    </form>
</div>
<script>
    const imagespan = document.querySelectorAll(".book-image-span");
    imagespan.forEach(
        span => span.addEventListener(
            "click",
            function () {
                span.parentElement.remove()
            }
        )
    )


</script>